/* font-family: 'Nunito', sans-serif; */

:root {
  --main-color: #335384;
  --main-color-second: #658abf;
  --body-color: #ffff;
  --alt-light-color: #eff0f2;
  --alt-color: #5ba7d1;
  --text-color: #444440;
  --alt-text-color: #335384;
  --input-color: #5ba7d1;
  --card-color: #eff0f2;

  --body-font: "Nunito", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 45px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --btn-size: 22px;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.home-container {
  padding: 100px 20px;
}

.home-introduction {
  background-color: var(--body-color);
  padding: 85px 20px;
  font-family: var(--body-font);
}

.home-introduction h1 {
  color: #335384;
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
}

.home-introduction h3 {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
  font-weight: 500;
}

.home-introduction p {
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--text-color);
}

a.btn {
  color: var(--main-color);
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: 500;
  padding: 0%;
}

.img-fluid {
  max-width: 90%;
  height: auto;
  padding-top: 50px;
}

.home-scroll-down {
  color: #335384;
  font-family: var(--body-font);
}
