/* font-family: 'Nunito', sans-serif; */

:root {
  --main-color: #335384;
  --main-color-second: #658abf;
  --body-color: #ffff;
  --alt-light-color: #eff0f2;
  --text-color: #444440;
  --alt-text-color: #335384;
  --input-color: #5ba7d1;
  --card-color: #eff0f2;
  --social-links-color: #658abf;

  --body-font: "Nunito", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 45px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --details-font-size: 20px;
  --btn-size: 22px;
  --social-links-size: 30px;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.links-container {
  padding: 20px 20px;
}

.home-container {
  padding: 20px 20px;
}

.home-introduction {
  background-color: var(--body-color);
  padding: 85px 20px;
  font-family: var(--body-font);
}

.home-introduction h1 {
  color: #335384;
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
}

.home-introduction h3 {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
  font-weight: 500;
}

.home-introduction p {
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--text-color);
}

a.btn {
  color: var(--main-color);
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: 500;
  padding: 0%;
}

a.btn:hover {
  color: #658abf;
  border-radius: 6px;
}

.img-fluid {
  max-width: 90%;
  height: auto;
  padding-top: 50px;
}

.home-scroll-down {
  margin-top: 100px;
  color: #335384;
  font-family: var(--body-font);
  font-size: var(--details-font-size);
}

.skills-scroll-down {
  color: #335384;
  font-family: var(--body-font);
  font-size: var(--details-font-size);
}

.projects-description,
ul,
p {
  font-size: var(--details-font-size);
  font-family: var(--body-font);
  font-weight: 250;
  color: var(--text-color);
}

.skills-container {
  padding: 50px 50px;
}

.project-name {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  color: var(--alt-text-color);
  font-weight: 500;
}

.social-link {
  color: var(--social-links-color);
  font-size: var(--social-links-size);
}

.social-link:hover {
  color: var(--main-color);
}

.social-icon {
  color: var(--social-links-color);
  font-size: var(--social-links-size);
}
.social-icon:hover {
  color: var(--main-color);
}

.skills-html,
.skills-api,
.skills-github,
.skills-bootstrap,
.skills-hosting,
.skills-react,
.skills-responsive,
.skills-flexbox {
  height: 50px;
  width: 50px;
}

.skills-vs {
  height: 40px;
  width: 40px;
}

.skills {
  height: 50px;
  width: 35px;
}

.block {
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 500;
}

.contact-introduction h1 {
  color: var(--main-color);
  font-size: 40px;
  font-family: var(--body-font);
}

.contact-introduction p {
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--body-font);
}

.contact-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.open-source {
  font-family: var(--body-font);
  color: var(--main-color);
  text-decoration: none;
  font-weight: 100;
}

.open-source a {
  color: var(--input-color);
  text-decoration: none;
}

.btn-back-to-top {
  size: 20px;
  height: 50px;
  width: 50px;
  line-height: 15px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: var(--social-links-color);
  padding: 1rem;
  border: none;
  cursor: pointer;
  display: none;
}
/* opacity: 100%; */

.fa-arrow-up:before {
  color: #eff0f2;
}

ul {
  list-style-type: circle;
}
